@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: underline;
  height: 18px;
  color: white;
}
a:hover {
  color: blue;
}

body {
  font-family: "Ubuntu Mono", sans-serif;
  background-color: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.redes-juice-h2 {
  text-align: center;
  background-color: rgb(44, 3, 3);
  padding-top: 3%;
}

.container-footer {
  background-color: rgb(44, 3, 3);
  display: flex;
  padding-top: 50px;
}
.container-footer-div-listas {
  padding-left: 8%;
}
.container-footer li {
  padding-top: 15%;
  font-size: 20px;
}
.container-footer-cajita-juice {
  height: 400px;
  padding-left: 30%;
  padding-bottom: 20%;
}
.container-footer h3 {
  margin-left: 3%;
}
.container-footer-form-class {
  padding-top: 1%;
  margin-left: 20%;
}
.container-footer-contactos-del-desarrollador li {
  margin-left: 100%;
  text-align: center;
  font-size: 20px;
  list-style: none;
}

.header {
  display: flex;
  background-color: rgb(15, 80, 100);
  align-items: center;
}
.header-h1-juice {
  padding-left: 40%;
  display: flex;
}
.header-img-999 {
  display: flex;
  height: 80px;
  padding-left: 10px;
}

.header-nav {
  padding-left: 20%;
  padding-right: 20%;
}
.header-barra-nav {
  background-color: rgb(22, 50, 66);
  border: solid 2px rgb(22, 50, 66);
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-bottom: 1%;
  justify-content: space-evenly;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header-barra-nav li {
  display: inline-flex;
  margin-right: 30px;
  margin-left: 30px;
  padding-top: 1.5%;
}

.h2-ropa-accesorios {
  padding-top: 10%;
  text-align: center;
}

.seccion-ropa {
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10%;
}

.articulo-1 {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  background-color: rgb(6, 0, 95);
  color: white;
  border: solid 3px rgb(107, 104, 104);
  border-radius: 10px;
}
.articulo-1-tarjeta-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.articulo-1 h4 {
  font-size: 15px;
  padding-bottom: 5%;
}
.articulo-1 a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
.articulo-1 img {
  width: 100%;
}

.articulo-2 {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  background-color: rgb(6, 0, 95);
  color: white;
  border: solid 3px rgb(107, 104, 104);
  border-radius: 10px;
}
.articulo-2-tarjeta-body-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.articulo-2 h4 {
  font-size: 15px;
  padding-bottom: 5%;
}
.articulo-2 a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
.articulo-2 img {
  width: 100%;
}

.articulo-3 {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  background-color: rgb(6, 0, 95);
  color: white;
  border: solid 3px rgb(107, 104, 104);
  border-radius: 10px;
}
.articulo-3-tarjeta-body-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.articulo-3 h4 {
  font-size: 15px;
  padding-bottom: 5%;
}
.articulo-3 a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
.articulo-3 img {
  width: 100%;
}

.articulo-4 {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  background-color: rgb(6, 0, 95);
  color: white;
  border: solid 3px rgb(107, 104, 104);
  border-radius: 10px;
}
.articulo-4-tarjeta-body-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 27%;
}
.articulo-4 h4 {
  font-size: 15px;
  padding-bottom: 5%;
}
.articulo-4 a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
.articulo-4 img {
  width: 100%;
  padding-top: 20%;
}

.articulo-5 {
  border: 2px solid black;
  width: 250px;
  height: 350px;
  background-color: rgb(6, 0, 95);
  color: white;
  border: solid 3px rgb(107, 104, 104);
  border-radius: 10px;
}
.articulo-5-tarjeta-body-5 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.articulo-5 h4 {
  font-size: 15px;
  padding-bottom: 5%;
}
.articulo-5 a {
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
}
.articulo-5 img {
  width: 100%;
}

.div-info {
  background-color: rgb(32, 31, 31);
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px;
  margin: 30px;
  padding-bottom: 33px;
}
.div-info-juice {
  padding-top: 15px;
}
.div-info-juice p {
  padding-left: 3%;
  padding-right: 3%;
  font-size: 16px;
  padding-top: 2%;
}
.div-info-img-juice-1 {
  height: 380px;
  padding-left: 20px;
  margin-top: 8%;
  padding-right: 50px;
}
.div-info-h3-info {
  padding-bottom: 20px;
  padding-left: 2px;
  text-align: center;
}
.div-info-h3-info-2 {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
.div-info-parrafo-gbgr-5-años {
  padding-top: 20px;
  padding-bottom: 25px;
}
.div-info-parrafos-info-2 {
  padding-left: 20px;
  font-size: 16px;
  padding-right: 60px;
}
.div-info-parrafo-posterior {
  padding-top: 10px;
}
.div-info-a-gbgr-5 {
  color: brown;
  text-decoration: underline;
}

.discografia {
  text-align: center;
  padding-top: 50px;
}

.h3-albumes {
  padding-top: 30px;
  padding-left: 60px;
}

.gbgr-contenedor-gbgr-disco {
  background-color: rgb(32, 31, 31);
  padding: 20px;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  margin: 50px;
  font-size: 17px;
}
.gbgr-contenedor-gbgr-disco p {
  padding-top: 8px;
}
.gbgr-contenedor-parrafo-gbgr {
  padding: 20px 10px 3px 50px;
}
.gbgr-contenedor a {
  color: brown;
}
.gbgr-contenedor a:hover {
  color: blue;
}
.gbgr-contenedor-img-gbgr-album-1 {
  width: 200px;
  height: 200px;
  padding-top: 10px;
}

.drfl-contenedor-drfl-disco {
  background-color: rgb(32, 31, 31);
  padding: 20px;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  margin: 50px;
  font-size: 17px;
}
.drfl-contenedor-drfl-disco {
  background-color: rgb(32, 31, 31);
  padding: 20px;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  margin: 50px;
  font-size: 17px;
}
.drfl-contenedor-drfl-disco p {
  padding-top: 8px;
}
.drfl-contenedor-drfl-parrafos {
  padding: 20px 10px 3px 50px;
}
.drfl-contenedor a {
  color: brown;
}
.drfl-contenedor a:hover {
  color: blue;
}
.drfl-contenedor-drfl-img-1 {
  width: 200px;
  height: 200px;
  padding-top: 10px;
}

.lnd-contenedor {
  margin-top: 80px;
}
.lnd-contenedor-lnd-disco {
  background-color: rgb(32, 31, 31);
  padding: 20px;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  margin: 50px;
  font-size: 17px;
}
.lnd-contenedor-p-1-lnd {
  padding-bottom: 10px;
}
.lnd-contenedor-p-3-lnd {
  padding-top: 10px;
}
.lnd-contenedor-lnd-parrafos {
  padding: 20px 10px 3px 50px;
}
.lnd-contenedor a {
  color: brown;
  text-decoration: underline;
}
.lnd-contenedor a:hover {
  color: blue;
}
.lnd-contenedor-lnd-img-1 {
  width: 200px;
  height: 200px;
  padding-top: 10px;
}

.fd-contenedor {
  margin-top: 80px;
}
.fd-contenedor-fd-disco {
  background-color: rgb(32, 31, 31);
  padding: 20px;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  margin: 50px;
  font-size: 17px;
}
.fd-contenedor p {
  padding: 20px 10px 3px 50px;
  margin-top: 1%;
}
.fd-contenedor a {
  color: brown;
  text-decoration: underline;
}
.fd-contenedor a:hover {
  color: blue;
}
.fd-contenedor-fd-img {
  width: 200px;
  height: 200px;
  padding-top: 10px;
}

.canciones-documental {
  display: flex;
}

.h3-top-3 {
  padding-left: 5%;
}

.canciones-mas-escuchadas {
  background-color: rgb(32, 31, 31);
  margin: 2%;
  display: flex;
  border: 2px solid white;
  border-radius: 20px;
  justify-items: center;
}
.canciones-mas-escuchadas p {
  padding: 5%;
  font-size: 12px;
}
.canciones-mas-escuchadas a {
  color: brown;
  text-decoration: underline;
  font-size: 14px;
  padding-left: 5%;
}
.canciones-mas-escuchadas a:hover {
  color: blue;
}

/* ===== Documental ===== */
.documental-juice-h3 {
  display: flex;
  padding-left: 60%;
}

.documental-juice {
  background-color: rgb(32, 31, 31);
  display: flex;
  margin: 2%;
  border: 2px solid white;
  border-radius: 20px;
  font-size: 13px;
  justify-items: center;
}
.documental-juice p {
  margin-top: 3%;
  margin-left: 3%;
  margin-right: 7%;
}
.documental-juice h3 {
  padding-left: 20%;
  padding-top: 5%;
}
.documental-juice-img-hbo-1 {
  height: 350px;
  padding-top: 5%;
  padding-right: 3%;
}
.documental-juice-h4-documental {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}
.documental-juice li {
  list-style: none;
  padding-top: 5%;
  padding-left: 3%;
}

@media only screen and (max-width: 496px) {
  .header {
    display: flex;
    background-color: rgb(15, 80, 100);
    width: 100%;
  }
  .header h1 {
    display: flex;
    padding-left: 4%;
    padding-bottom: 6.5%;
    height: 10px;
  }
  .header-img-999 {
    display: flex;
  }
  .header-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-barra-nav {
    padding: 8%;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .header-barra-nav ul li {
    display: flex;
    padding-top: 15%;
    font-size: 15px;
    text-decoration: underline;
  }
}
@media only screen and (max-width: 496px) {
  .div-info {
    display: block;
  }
  .div-info-info-juice {
    font-size: 14px;
  }
  .div-info-parrafos-juice-1 {
    font-size: 11px;
    text-align: start;
    padding-top: 8px;
  }
  .div-info-parrafos-info-2 {
    font-size: 14px;
    text-align: start;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .div-info img {
    height: 350px;
    padding-left: 28%;
  }
  .div-info-h3-info-2 {
    font-size: 17px;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 496px) {
  .gbgr-contenedor-gbgr-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .gbgr-contenedor-parrafo-gbgr {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .gbgr-contenedor-img-gbgr-album-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 23%;
  }
}
@media only screen and (max-width: 496px) {
  .drfl-contenedor-drfl-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .drfl-contenedor-drfl-parrafos {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .drfl-contenedor-drfl-img-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 23%;
  }
}
@media only screen and (max-width: 496px) {
  .lnd-contenedor-lnd-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .lnd-contenedor-lnd-parrafos {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .lnd-contenedor-lnd-img-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 23%;
  }
}
@media only screen and (max-width: 496px) {
  .fd-contenedor-fd-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .fd-contenedor-fd-parrafos p {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .fd-contenedor-fd-img-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 23%;
  }
}
@media only screen and (max-width: 496px) {
  .canciones-documental {
    display: block;
    margin-right: 3%;
  }
  .canciones-mas-escuchadas {
    margin: 3%;
  }
  .documental-juice {
    margin: 3%;
  }
  .documental-juice h3 {
    text-align: center;
  }
  .documental-juice p {
    padding-top: 5%;
  }
  .documental-juice-img-hbo-1 {
    height: 250px;
    margin-top: 20%;
  }
}
@media only screen and (max-width: 496px) {
  .seccion-ropa {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10%;
  }
  .articulo-1 {
    height: 270px;
    width: 180px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
  }
  .articulo-1 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-1 h4 {
    text-align: center;
  }
  .articulo-2 {
    height: 270px;
    width: 180px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-right: 5%;
  }
  .articulo-2 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-2 h4 {
    text-align: center;
  }
  .articulo-3 {
    height: 270px;
    width: 180px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;
  }
  .articulo-3 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-3 h4 {
    text-align: center;
  }
  .articulo-4 {
    height: 270px;
    width: 180px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 5%;
  }
  .articulo-4 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-4 h4 {
    text-align: center;
  }
  .articulo-5 {
    height: 270px;
    width: 180px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 28%;
  }
  .articulo-5 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-5 h4 {
    text-align: center;
  }
}
@media only screen and (max-width: 496px) {
  .redes-juice-h2 {
    text-align: center;
    background-color: rgb(44, 3, 3);
    padding-top: 10%;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
  }
  .container-footer-div-listas {
    text-align: center;
    padding-right: 8%;
    padding-bottom: 20%;
  }
  .container-footer-form-class {
    display: block;
  }
  .container-footer-container-contactos form input {
    display: block;
    height: 25px;
    width: 100%;
    border-radius: 7px;
  }
  .container-contactos button {
    margin-top: 10%;
  }
  .container-footer-contactos-del-desarrollador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-right: 40%;
  }
  .container-footer-contactos-del-desarrollador ul li {
    display: block;
    list-style: none;
    text-align: center;
  }
  .container-footer-contactos-del-desarrollador li {
    padding-bottom: 50%;
  }
}
@media only screen and (min-width: 497px) and (max-width: 720px) {
  .header {
    display: flex;
    background-color: rgb(15, 80, 100);
    width: 100%;
  }
  .header h1 {
    display: flex;
    padding-left: 28%;
    padding-bottom: 4.5%;
    height: 10px;
  }
  .header-img-999 {
    display: flex;
  }
  .header-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-barra-nav {
    padding: 3%;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .header-barra-nav ul li {
    display: flex;
    padding-top: 15%;
    font-size: 15px;
    text-decoration: underline;
  }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .div-info {
    display: block;
  }
  .div-info-info-juice {
    font-size: 14px;
  }
  .div-info-parrafos-juice-1 {
    font-size: 11px;
    text-align: start;
    padding-top: 8px;
  }
  .div-info-parrafos-info-2 {
    font-size: 11px;
    text-align: start;
  }
  .div-info-img-juice-1 {
    height: 370px;
    padding-left: 35%;
  }
  .div-info-h3-info-2 {
    font-size: 17px;
    padding-top: 50px;
  }
}
/*===== MEDIA QUERIES ALBUMES =====*/
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .gbgr-contenedor-gbgr-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .gbgr-contenedor-gbgr-disco p {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .gbgr-contenedor-img-gbgr-album-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 33%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .drfl-contenedor-drfl-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .drfl-contenedor-drfl-parrafos {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .drfl-contenedor-drfl-img-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 33%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .lnd-contenedor-lnd-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .lnd-contenedor-lnd-disco p {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .lnd-contenedor-lnd-img-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 33%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .fd-contenedor-fd-disco {
    display: block;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 15%;
  }
  .fd-contenedor-fd-parrafos {
    text-align: start;
    font-size: 13px;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3%;
  }
  .fd-contenedor-fd-img-1 {
    display: block;
    height: 150px;
    width: 150px;
    margin-left: 33%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .canciones-documental {
    display: block;
  }
  .canciones-mas-escuchadas {
    margin: 3%;
  }
  .documental-juice {
    margin: 3%;
  }
  .documental-juice h3 {
    text-align: center;
  }
  .documental-juice p {
    padding-top: 5%;
  }
  .documental-juice-img-hbo {
    height: 370px;
    padding-top: 10%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .seccion-ropa {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10%;
  }
  .articulo-1 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
  }
  .articulo-1 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-1 h4 {
    text-align: center;
  }
  .articulo-2 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
  }
  .articulo-2 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-2 h4 {
    text-align: center;
  }
  .articulo-3 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
  }
  .articulo-3 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-3 h4 {
    text-align: center;
  }
  .articulo-4 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 15%;
  }
  .articulo-4 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-4 h4 {
    text-align: center;
  }
  .articulo-5 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;
    margin-right: 15%;
  }
  .articulo-5 img {
    width: 75%;
    margin-left: 15%;
  }
  .articulo-5 h4 {
    text-align: center;
  }
}
@media only screen and (min-width: 421px) and (max-width: 720px) {
  .redes-juice-h2 {
    text-align: center;
    background-color: rgb(44, 3, 3);
    padding-top: 10%;
  }
  .container-footer {
    display: flex;
    flex-direction: column;
  }
  .container-footer-div-listas {
    text-align: center;
    padding-right: 8%;
    padding-bottom: 20%;
  }
  .container-footer-form-class {
    display: block;
  }
  .container-footer-container-contactos form input {
    display: block;
    height: 25px;
    width: 100%;
    border-radius: 7px;
  }
  .container-contactos button {
    margin-top: 10%;
  }
  .container-footer-contactos-del-desarrollador {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding-right: 25%;
  }
  .container-footer-contactos-del-desarrollador ul li {
    display: block;
    list-style: none;
    text-align: center;
  }
  .container-footer-contactos-del-desarrollador li {
    padding-bottom: 50%;
  }
}
@media (max-width: 497px) {
  .container-contactos input {
    display: block;
    height: 25px;
    width: 100%;
    border-radius: 7px;
  }
  .container-contactos h2 {
    padding-bottom: 12%;
  }
  .container-contactos {
    margin-left: 15%;
    margin-right: 15%;
  }
  .container-contactos button {
    margin-top: 10%;
  }
}
.header {
  display: flex;
  background-color: rgb(15, 80, 100);
  align-items: center;
}
.header-h1-juice {
  padding-left: 40%;
  display: flex;
}
.header-img-999 {
  display: flex;
  height: 80px;
  padding-left: 10px;
}

.container-footer {
  background-color: rgb(44, 3, 3);
  display: flex;
  padding-top: 50px;
}
.container-footer-div-listas {
  padding-left: 8%;
}
.container-footer li {
  padding-top: 15%;
  font-size: 20px;
}
.container-footer-cajita-juice {
  height: 400px;
  padding-left: 30%;
  padding-bottom: 20%;
}
.container-footer h3 {
  margin-left: 3%;
}
.container-footer-form-class {
  padding-top: 1%;
  margin-left: 20%;
}
.container-footer-contactos-del-desarrollador li {
  margin-left: 100%;
  text-align: center;
  font-size: 20px;
  list-style: none;
}

/*# sourceMappingURL=style.css.map */
