.discografia {
    text-align: center;
    padding-top: 50px;
}

.h3-albumes {
    padding-top: 30px;
    padding-left: 60px;
}


.gbgr-contenedor {

    &-gbgr-disco {
        @include discografia
    }


    &-gbgr-disco p {
        padding-top: 8px;
    }

    &-parrafo-gbgr {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;

        &:hover {
            color: blue;
        }
    }

    &-img-gbgr-album-1 {
        @include medidas-img-albumes;
    }

    animation: desplazamientoizquierda 2s forwards;

    .izquierda {
        animation-name: desplazamientoizquierda;
    }

    @keyframes desplazamientoizquierda {
        0% {
            transform: translateX(+100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

}


.drfl-contenedor {

    &-drfl-disco {
        @include discografia;
    }

    &-drfl-disco {
        @include discografia;
    }

    &-drfl-disco p {
        padding-top: 8px;
    }

    &-drfl-parrafos {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;

        &:hover {
            color: blue;
        }
    }

    &-drfl-img-1 {
        @include medidas-img-albumes;

    }

    animation: desplazamientoderecha 2s forwards;

    .derecha {
        animation-name: desplazamientoderecha;
    }

    @keyframes desplazamientoderecha {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}


.lnd-contenedor {
    margin-top: 80px;

    &-lnd-disco {
        @include discografia;
    }

    &-p-1-lnd {
        padding-bottom: 10px;
    }

    &-p-3-lnd {
        padding-top: 10px;
    }

    &-lnd-parrafos {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;
        text-decoration: underline;

        &:hover {
            color: blue;
        }
    }

    &-lnd-img-1 {
        @include medidas-img-albumes;
    }

    animation: desplazamientoizquierda 2s forwards;

    .izquierda {
        animation-name: desplazamientoizquierda;
    }

    @keyframes desplazamientoizquierda {
        0% {
            transform: translateX(+100%);
        }

        100% {
            transform: translateX(0%);
        }
    }
}

.fd-contenedor {
    margin-top: 80px;

    &-fd-disco {
        @include discografia;
    }

    & p {
        padding: 20px 10px 3px 50px;
        margin-top: 1%;
    }

    & a {
        color: brown;
        text-decoration: underline;

        &:hover {
            color: blue;
        }
    }

    &-fd-img {
        @include medidas-img-albumes;
    }

    animation: desplazamientoderecha 2s forwards;

    .derecha {
        animation-name: desplazamientoderecha;
    }

    @keyframes desplazamientoderecha {
        0% {
            transform: translateX(-100%);
        }

        100% {
            transform: translateX(0%);
        }
    }

}