/* ===== Contactos =====*/

.container-contactos input {
    display: block;
    margin-top: 8%;
    height: 35px;
    width: 100%;
    border-radius: 7px;
}

.container-contactos h2 {
    text-align: center;
    padding-bottom: 3%;
}

.container-contactos {
    @include medidas-caja-contactos
}

.container-contactos button {
    margin-top: 8%;
    height: 30px;
    width: 100%;
    border-radius: 10px;
}