.discografia {
    text-align: center;
    padding-top: 50px;
}

.h3-albumes {
    padding-top: 30px;
    padding-left: 60px;
}

.gbgr-disco {
        @include discografia;

    & p {
        padding: 20px 10px 3px 50px;
    }

    &-img-gbgr-album-1 {
        @include medidas-img-albumes;
    }

    & a {
        color: brown;
        text-decoration: underline;
        &:hover {
            color: blue;
        }
    }
}


.drfl-contenedor {
    margin-top: 80px;

    &-drfl-disco {
        @include discografia;
    }

    &-drfl-disco p {
        padding-top: 8px;
    }

    &-drfl-parrafos {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;
        &:hover {
            color: blue;
        }
    }

    &-drfl-img {
        @include medidas-img-albumes;
    }
}


.lnd-contenedor {
    margin-top: 80px;

    &-lnd-disco {
        @include discografia;
    }

    &-p-1-lnd {
        padding-bottom: 10px;
    }

    &-p-3-lnd {
        padding-top: 10px;
    }

    &-lnd-parrafos {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;
        text-decoration: underline;
        &:hover {
            color: blue;
        }
    }

    &-lnd-img {
        @include medidas-img-albumes;
    }
}

.fd-contenedor {
    margin-top: 80px;

    &-fd-disco {
        @include discografia;
    }

    & p {
        padding: 20px 10px 3px 50px;
        margin-top: 1%;
    }

    & a {
        color: brown;
        text-decoration: underline;
        &:hover {
            color: blue;
        }
    }

    &-fd-img {
        @include medidas-img-albumes;
    }
    

}