.discografia {
    text-align: center;
    padding-top: 50px;
}

.h3-albumes {
    padding-top: 30px;
    padding-left: 60px;
}

/*.gbgr-contendor {

    .gbgr-disco {
        background-color: rgb(32, 31, 31);
        padding: 20px;
        display: flex;
        border: 2px solid white;
        border-radius: 20px;
        margin: 50px;
        font-size: 17px;
    }

    & p {
        padding: 20px 10px 3px 50px;
    }

    &-img-gbgr-album-1 {
        @include medidas-img-albumes;
    }

    & a {
        color: brown;
        text-decoration: underline;
        &:hover {
            color: blue;
        }
    }
}*/

.gbgr-contenedor {


    &-gbgr-disco {
        @include discografia
    }


    &-gbgr-disco p {
        padding-top: 8px;
    }

    &-parrafo-gbgr {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;
        &:hover {
            color: blue;
        }
    }

    &-img-gbgr-album-1 {
        @include medidas-img-albumes;
    }
}


.drfl-contenedor {


    &-drfl-disco {
        @include discografia;
    }
    
    &-drfl-disco {
        @include discografia;
    }

    &-drfl-disco p {
        padding-top: 8px;
    }

    &-drfl-parrafos {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;
        &:hover {
            color: blue;
        }
    }

    &-drfl-img {
        @include medidas-img-albumes;
    
    }
}


.lnd-contenedor {
    margin-top: 80px;

    &-lnd-disco {
        @include discografia;
    }

    &-p-1-lnd {
        padding-bottom: 10px;
    }

    &-p-3-lnd {
        padding-top: 10px;
    }

    &-lnd-parrafos {
        padding: 20px 10px 3px 50px;
    }

    & a {
        color: brown;
        text-decoration: underline;
        &:hover {
            color: blue;
        }
    }

    &-lnd-img {
        @include medidas-img-albumes;
    }
}

.fd-contenedor {
    margin-top: 80px;

    &-fd-disco {
        @include discografia;
    }

    & p {
        padding: 20px 10px 3px 50px;
        margin-top: 1%;
    }

    & a {
        color: brown;
        text-decoration: underline;
        &:hover {
            color: blue;
        }
    }

    &-fd-img {
        @include medidas-img-albumes;
    }
    

}