.h2-ropa-accesorios {
    padding-top: 10%;
    text-align: center;
}

.seccion-ropa {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10%;
}

.articulo-1 {
    border: 2px solid black;
    width: 250px;
    height: 350px;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;

    &-tarjeta-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    & h4 {
        font-size: 15px;
        padding-bottom: 5%;
    }

    & a {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
    }

    & img {
        width: 100%;
    }
}


.articulo-2 {
            border: 2px solid black;
            width: 250px;
            height: 350px;
            background-color: rgb(6, 0, 95);
            color: white;
            border: solid 3px rgb(107, 104, 104);
            border-radius: 10px;

        &-tarjeta-body-2 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }

        & h4 {
            font-size: 15px;
            padding-bottom: 5%;
        }

        & a {
            color: white;
            padding: 10px;
            text-decoration: none;
            display: inline-block;
            }

        & img {
            width: 100%;
        }
}


.articulo-3 {
    border: 2px solid black;
    width: 250px;
    height: 350px;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;

    &-tarjeta-body-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    & h4 {
        font-size: 15px;
        padding-bottom: 5%;
    }

    & a {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        }

    & img {
        width: 100%;
    }
}

.articulo-4 {
    border: 2px solid black;
    width: 250px;
    height: 350px;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;

    &-tarjeta-body-4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-top: 27%;
    }

    & h4 {
        font-size: 15px;
        padding-bottom: 5%;
    }

    & a {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        }

    & img {
        width: 100%;
        padding-top: 20%;
    }
}

.articulo-5 {
    border: 2px solid black;
    width: 250px;
    height: 350px;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;

    &-tarjeta-body-5 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    & h4 {
        font-size: 15px;
        padding-bottom: 5%;
    }

    & a {
        color: white;
        padding: 10px;
        text-decoration: none;
        display: inline-block;
        }

    & img {
        width: 100%;
    }
}

