.header {
    display: flex;
    background-color: rgb(15, 80, 100);
    align-items: center;

    &-h1-juice{
        padding-left: 40%;
        display: flex;
    }

    &-img-999 {
        display: flex;
        height: 80px;
        padding-left: 10px;
    }

}


.container-footer {
    background-color: rgb(44, 3, 3);
    display: flex;
    padding-top: 50px;

    &-div-listas {
        padding-left: 8%;
    }

    & li {
        padding-top: 15%;
        font-size: 20px;
    }

    &-cajita-juice {
        height: 400px;
        padding-left: 30%;
        padding-bottom: 20%;
    }

    & h3 {
        margin-left: 3%;
    }

    &-form-class {
        padding-top: 1%;
        margin-left: 20%;
    }

    &-contactos-del-desarrollador li {
        margin-left: 100%;
        text-align: center;
        font-size: 20px;
        list-style: none;
    }
}