// MOBILE //

@media (max-width:420px) {
    .header {
        display: flex;
        background-color: rgb(15, 80, 100);
        width: 100%;
    }
    
    .header h1 { 
        display: flex;
        padding-left: 9%;
        padding-bottom: 8%;
        height: 10px;
    }
    
    .header-img-999 {
        display: flex;
    }
    
    .header-nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-barra-nav{
        padding: 8%;
        font-size: 12px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .header-barra-nav ul li {
        display: flex;
        padding-top: 15%;
        font-size: 15px;
        text-decoration: underline;
    }
}

// MEDIA QUERIES BIOGRAFIA //


@media (max-width:420px) {
    .div-info {
        display: block;
    }

    .div-info-info-juice {
        font-size: 14px;
    }

    .div-info-parrafos-juice-1 {
        font-size: 11px;
        text-align: start;
        padding-top: 8px;
    }

    .div-info-parrafos-info-2 {
        font-size: 11px;
        text-align: start;
    }

    .div-info img {
        display: block;
        height: 350px;
    }

    .div-info-h3-info-2 {
        font-size: 17px;
        padding-top: 50px;
    }

}


// MEDIA QUERIES ALBUMES // 


// ALBUM 1 //

@media (max-width: 420px) {

    .gbgr-contenedor-gbgr-disco {
        @include cajas-albumes
    }

    .gbgr-contenedor-gbgr-disco p {
        @include parrafos-albumes
    }

    .gbgr-contenedor-img-gbgr-album-1 {
        @include medidas-img-albumes-responsive
    }
}


// ALBUM 2 //

@media (max-width: 420px) {
    .drfl-contenedor-drfl-disco {
        @include cajas-albumes
    }

    .drfl-contenedor-drfl-parrafos {
        @include parrafos-albumes
    }

    .drfl-contenedor-drfl-img-1 {
        @include medidas-img-albumes-responsive
    }
}

// ALBUM 3 //

@media (max-width: 420px) {
    .lnd-contenedor-lnd-disco {
        @include cajas-albumes
    }

    .lnd-contenedor-lnd-disco p{
        @include parrafos-albumes
    }

    .lnd-contenedor-lnd-img-1 {
        @include medidas-img-albumes-responsive
    }
}

// ALBUM 4 //

@media (max-width: 420px) {
    .fd-contenedor-fd-disco {
        @include cajas-albumes
    }

    .fd-contenedor-fd-parrafos {
        @include parrafos-albumes
    }

    .fd-contenedor-fd-img-1 {
        @include medidas-img-albumes-responsive
    }
}    

// MEDIA QUERIES TOP 3 CANCIONES - DOCUMENTAL //

@media (max-width:420px) {
    .canciones-documental {
        display: block;
    }

    .canciones-mas-escuchadas {
        margin: 3%;
    }

    .documental-juice {
        margin: 3%;

        & h3 {
            text-align: center;
        }

        & p {
            padding-top: 5%;
        }
    }

    .documental-juice-img-hbo-1 {
        height: 250px;
        margin-top: 30%;
    }
}


// MEDIA QUERIES ROPA //

@media (max-width: 420px) {

.seccion-ropa {
    padding-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10%;
    
}

.articulo-1 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;

    & img {
        width: 75%;
        margin-left: 15%;
    }

    & h4 {
        text-align: center;
    }
}

.articulo-2 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;

    & img {
        width: 75%;
        margin-left: 15%;
    }

    & h4 {
        text-align: center;
    }
}

.articulo-3 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;

    & img {
        width: 75%;
        margin-left: 15%;
    }

    & h4 {
        text-align: center;
    }
}

.articulo-4 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;

    & img {
        width: 75%;
        margin-left: 15%;
    }

    & h4 {
        text-align: center;
    }
}

.articulo-5 {
    height: 270px;
    width: 200px;
    border: 2px solid black;
    background-color: rgb(6, 0, 95);
    color: white;
    border: solid 3px rgb(107, 104, 104);
    border-radius: 10px;
    margin-top: 5%;
    margin-left: 26%;

    & img {
        width: 75%;
        margin-left: 15%;
    }

    & h4 {
        text-align: center;
    }
}

}

@media only screen and (max-width: 420px) {

    .redes-juice-h2 {
        text-align: center;
        background-color: rgb(44, 3, 3);
        padding-top: 10%;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
    }

    .container-footer-div-listas {
        text-align: center;
        padding-right: 8%;
        padding-bottom: 20%;
    }

    .container-footer-form-class {
        display: block;
    }

    .container-footer-container-contactos form input {
        display: block;
        height: 25px;
        width: 100%;
        border-radius: 7px;
    }

    .container-contactos button {
        margin-top: 10%;
    }

    .container-footer-contactos-del-desarrollador {
        display: flex;   
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding-right: 40%;
    }

    .container-footer-contactos-del-desarrollador ul li {
        display: block;
        list-style: none;
        text-align: center;
    }

    .container-footer-contactos-del-desarrollador li {
        padding-bottom: 50%;
    }

}

    /*.redes-juice-h2 {
        text-align: center;
        background-color: rgb(44, 3, 3);
        padding-top: 10%;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
    }

    .container-footer-div-listas ul li {
        padding-left: 25%;
        padding-bottom: 1%;
    }

    .container-footer-form-class {
        display: block;
    }

    .container-footer-container-contactos form input {
        display: block;
        height: 25px;
        width: 100%;
        border-radius: 7px;
    }

    .container-contactos button {
        margin-top: 10%;
    }

    .container-footer-contactos-del-desarrollador ul li {
        display: block;
        padding-right: 60%;
    }

}*/


// TABLET //

// MEDIA QUERIES HEADER // 

@media only screen and (min-width: 421px) and (max-width: 720px) {

    .header {
        display: flex;
        background-color: rgb(15, 80, 100);
        width: 100%;
    }
    
    .header h1 { 
        display: flex;
        padding-left: 28%;
        padding-bottom: 4.5%;
        height: 10px;
    }
    
    .header-img-999 {
        display: flex;
    }
    
    .header-nav {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header-barra-nav{
        padding: 3%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 12px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .header-barra-nav ul li {
        display: flex;
        padding-top: 15%;
        font-size: 15px;
        text-decoration: underline;
    }

}

// MEDIA QUERIES BIOGRAFÍA //

@media only screen and (min-width: 421px) and (max-width: 720px) {

    .div-info {
        display: block;
    }

    .div-info-info-juice {
        font-size: 14px;
    }

    .div-info-parrafos-juice-1 {
        font-size: 11px;
        text-align: start;
        padding-top: 8px;
    }

    .div-info-parrafos-info-2 {
        font-size: 11px;
        text-align: start;
    }

    .div-info-img-juice-1 {
        display: block;
        height: 370px;
        padding-left: 35%;
    }

    .div-info-h3-info-2 {
        font-size: 17px;
        padding-top: 50px;
    }

}

/*===== MEDIA QUERIES ALBUMES =====*/ 


// ALBUM 1 //

@media only screen and (min-width: 421px) and (max-width: 720px) {

    .gbgr-contenedor-gbgr-disco {
        @include cajas-albumes
    }

    .gbgr-contenedor-gbgr-disco p {
        @include parrafos-albumes
    }

    .gbgr-contenedor-img-gbgr-album-1 {
        @include medidas-img-albumes-responsive-tablet
    }
}


// ALBUM 2 //

@media only screen and (min-width: 421px) and (max-width: 720px) {
    .drfl-contenedor-drfl-disco {
        @include cajas-albumes
    }

    .drfl-contenedor-drfl-parrafos {
        @include parrafos-albumes
    }

    .drfl-contenedor-drfl-img-1 {
        @include medidas-img-albumes-responsive-tablet
    }
}

// ALBUM 3 //

@media only screen and (min-width: 421px) and (max-width: 720px){
    .lnd-contenedor-lnd-disco {
        @include cajas-albumes
    }

    .lnd-contenedor-lnd-disco p{
        @include parrafos-albumes
    }

    .lnd-contenedor-lnd-img-1 {
        @include medidas-img-albumes-responsive-tablet
    }
}

// ALBUM 4 // 

@media only screen and (min-width: 421px) and (max-width: 720px) {
    .fd-contenedor-fd-disco {
        @include cajas-albumes
    }

    .fd-contenedor-fd-parrafos {
        @include parrafos-albumes
    }

    .fd-contenedor-fd-img-1 {
        @include medidas-img-albumes-responsive-tablet
    }
}

// MEDIA QUERIES 3 CANCIONES - DOCUMENTAL //

@media only screen and (min-width: 421px) and (max-width: 720px) {
    .canciones-documental {
        display: block;
    }

    .canciones-mas-escuchadas {
        margin: 3%;
    }

    .documental-juice {
        margin: 3%;

        & h3 {
            text-align: center;
        }

        & p {
            padding-top: 5%;
        }
    }

    .documental-juice-img-hbo {
        height: 370px;
        padding-top: 10%;
    }
}

// MEDIA QUERIES ROPA //

@media only screen and (min-width: 421px) and (max-width: 720px) {

    .seccion-ropa {
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 10%;
        
    }
    
    .articulo-1 {
        height: 270px;
        width: 200px;
        border: 2px solid black;
        background-color: rgb(6, 0, 95);
        color: white;
        border: solid 3px rgb(107, 104, 104);
        border-radius: 10px;
    
        & img {
            width: 75%;
            margin-left: 15%;
        }
    
        & h4 {
            text-align: center;
        }
    }
    
    .articulo-2 {
        height: 270px;
        width: 200px;
        border: 2px solid black;
        background-color: rgb(6, 0, 95);
        color: white;
        border: solid 3px rgb(107, 104, 104);
        border-radius: 10px;
    
        & img {
            width: 75%;
            margin-left: 15%;
        }
    
        & h4 {
            text-align: center;
        }
    }
    
    .articulo-3 {
        height: 270px;
        width: 200px;
        border: 2px solid black;
        background-color: rgb(6, 0, 95);
        color: white;
        border: solid 3px rgb(107, 104, 104);
        border-radius: 10px;
    
        & img {
            width: 75%;
            margin-left: 15%;
        }
    
        & h4 {
            text-align: center;
        }
    }
    
    .articulo-4 {
        height: 270px;
        width: 200px;
        border: 2px solid black;
        background-color: rgb(6, 0, 95);
        color: white;
        border: solid 3px rgb(107, 104, 104);
        border-radius: 10px;
        margin-top: 5%;
        margin-left: 15%;
    
        & img {
            width: 75%;
            margin-left: 15%;
        }
    
        & h4 {
            text-align: center;
        }
    }
    
    .articulo-5 {
        height: 270px;
        width: 200px;
        border: 2px solid black;
        background-color: rgb(6, 0, 95);
        color: white;
        border: solid 3px rgb(107, 104, 104);
        border-radius: 10px;
        margin-top: 5%;
        margin-right: 15%;
    
        & img {
            width: 75%;
            margin-left: 15%;
        }
    
        & h4 {
            text-align: center;
        }
    }

}





// MEDIA QUERIES FOOTER //

@media only screen and (min-width: 421px) and (max-width: 720px) {

    .redes-juice-h2 {
        text-align: center;
        background-color: rgb(44, 3, 3);
        padding-top: 10%;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
    }

    .container-footer-div-listas {
        text-align: center;
        padding-right: 8%;
        padding-bottom: 20%;
    }

    .container-footer-form-class {
        display: block;
    }

    .container-footer-container-contactos form input {
        display: block;
        height: 25px;
        width: 100%;
        border-radius: 7px;
    }

    .container-contactos button {
        margin-top: 10%;
    }

    .container-footer-contactos-del-desarrollador {
        display: flex;   
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding-right: 25%;
    }

    .container-footer-contactos-del-desarrollador ul li {
        display: block;
        list-style: none;
        text-align: center;
    }

    .container-footer-contactos-del-desarrollador li {
        padding-bottom: 50%;
    }

}


// CONTACTOS //

@media (max-width:420px) {

    .container-contactos input {
        display: block;
        height: 25px;
        width: 100%;
        border-radius: 7px;
    }

    .container-contactos h2 {
        padding-bottom: 12%;
    }

    .container-contactos {
        margin-left: 15%;
        margin-right: 15%;
    }

    .container-contactos button {
        margin-top: 10%;
    }

}